html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

header {
  text-align: center;
  margin-bottom: 50px;
}

main {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 20px 7px black;
}

main > div {
  max-width: 100%;
	width:750px;
	margin:0 auto;
}

main * {
    padding: 10px;
}

main select {
    width: 100px;
    margin: 5px;
}
