html {
  height: 100%;
  width: 100%;
}

body, header, main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

label {
  margin-right: 10px;
}

button, a {
  cursor: pointer;
  margin: 0 5px;
}