#prova{
    width: 600px;
    height: 600px;
    /*background-image:  linear-gradient(135deg, #FFF 30%, #FF0000 60%, #00F 90%);*/ /* gradiente lineare */
    /*background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);*/ /*arcobaleno*/
    /* background-image: radial-gradient(ellipse at center /*50% 25%*/ /*, #FFF 0%, #00F 50%, #0AE 80%);  */
    /*50% orizzontale, 25% verticale*/
    /* transform: translate(100px, 100px);  */
    /* transform: translate(x, y); */
    /* transform: rotate(90deg) translatex(500px); */
    /* transform-origin: right bottom; */
    /* transform: translate(200px, 200px) rotate(90deg); */
    /* transform: skew(60deg, 2deg); */
    /* transform: translateX(200px); */
    /* transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 2s; */
    /* transition: width 1s linear 2s, height 2s ease 3s;*/
    background-color: brown;
    perspective: 1200px;
}

#prova:hover{
    /* transform: translateX(500px);
    background-color: brown; */
    width: 500px;
    height: 500px;
}

#wrapper{
    height: 300px;
    background-color: yellow;
    display: flex; /*se non c'è questo i div vanno a capo*/
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap; /*se stringo i div vanno a capo*/
    /*justify-content: space-between;*/
    align-content: center; /*lavora sull asse opposto a justify-content*/
    align-items: stretch; /*allinea sulla riga singola*/
}

#wrapper div{
    width: 100px; 
    /*height: 100px;*/
    background-color: blue;
    color: white;
    margin: 10px;
    flex-grow: 1; /*non è compatibile con justify-content*/
}

.primo {
    order: 0;
    flex-grow: 2 !important /*prende il doppio dello spazio libero rispetto agli altri*/
}

.ultimo {
    order: 2;
    align-self: flex-start;
}

.top{
    align-self: flex-end;
}

#wrapper > div{
    /* transition: background-color 2s; */
    transition: width 2s, height 2s, transform 2s;
}

#wrapper > div:hover{
    background-color: red;
    color: yellow; /* diventa subito giallo perchè non ho messo la transition */
    width: 200px;
    height: 200px;
}

#myDiv{
    animation-name: miaAnimazione;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes miaAnimazione {
    0% {
            background-color: red;
            opacity: 1.0; 
        }

    50%{
        background-color: yellow;
            opacity: 0.5; 
    }
    100% {
            background-color: blue;
            opacity: 0.75; 
        }
   }
   