html, body {
  height: 100%;
  width: 100%;
  padding: 15px;
}

.logo{
  width: 100px;
  height: 50px;
  margin-right: 200px;
}

header nav a{
  border: 1px, solid, grey;
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
  margin: 0px 15px; /*margine a destra e sinistra*/
}

main, footer, hr{
  width: 100%;
  margin-top: 30px;
}

header nav a:hover{
  background-color: grey;
}

header{
  padding: 20px;
}

.blue_text{
  color: blue;
}

.playlist-table{
  width: 100%;
}

.playlist-table tr{
  height: 50px;
}

.playlist-table tr td{
  text-align: center;
}

.playlist-table tr:hover{
  font-style: italic;
  font-weight: bold;
}

/*.playlist-table tr .dark-row{
  background-color: gray;
  color: white;
}*/

.playlist-table tbody tr:nth-child(odd){
  background-color: gray;
  color: white;
}

footer > .credits > ul li{
  opacity: 0;
  /*color: white;*/
}

footer > .credits > ul li:hover{
  opacity: 1;
  /*color: black;*/
}
