body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #2e8b57;
  color: white;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  padding: 10px;
  margin: 0 5px;
  background-color: white;
  border-radius: 5px;
  width: 80px;
  height: 120px;
  border: 2px solid black;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

#paragrafoPuntBanco {
  display: none;
}