/**
 * @author Alessandro Sanino <alessandro.sanino@vallauri.edu>
 * THIS FILE CANNOT BE TOUCHED, IT CONTAINS THE CSS OF THE TESTS REPORTER
 * MADE BY THE PROFESSOR.
 */

#student-area {
  background-color: white;
  color: black;

  min-height: 100px;
  padding: 15px;
}

#test-area {
  padding: 15px;
}

#mocha {
  position: relative;
}

#mocha > #mocha-stats{
  position: absolute;
  top: -50px;
  right: -50px;
}

#tests-executor-btn {
  padding: 10px;
  cursor: pointer;
}