/* global */
html, body {
  padding: 15px;
  
  font-family: Roboto;
}

nav {
  width: 100%;
  
  padding: 15px;
  
  margin-top: 15px;
  margin-bottom: 15px;
}

/* headings */
h1.main-title, h2.secondary-title {
  color: transparent;
  background-image: linear-gradient(to left, #fb9e25, #ffc477);  
  background-clip: text;
  -webkit-background-clip: text;
}

h1.main-title {
  font-size: 2em;
  font-weight: 600;
}

h2.secondary-title {
  font-size: 1.5em;
  font-weight: 300;
}

/* buttons */
button.awesome-btn {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}

button.awesome-btn:active {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
