header > nav > .Logo{
    height: 100px;
}

.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > nav > a{
    padding-left: 50px;
    text-decoration: none;
}

header > nav > a:hover{
  background-color: #ffc477;
}

main > div#prenotazione{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

main > div#prenotazione div.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main > div#prenotazione div.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main > div#prenotazione > div > div > p:nth-child(1)
{
    font-weight: bold;
}