html, body {
  height: 100%;
  width: 100%;
}

header, main, footer{
  font-style: italic;
}

#section-1{
  background-color: grey;
}

.section-type-1{
  margin: 10px;
  padding: 15px;
  background-color: lime;
}

.section-type-1 p{
  color: blue;
}

.section-type-2 h1{
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-type-2 {
  background-image: url(../img/cute-cat-background.png);
  background-repeat: no-repeat;
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
}

footer{
  background-color: lightgrey;
  padding: 5px;
}

.two-columns-container p{
  display:inline-block;
}