html, body {
  height: 100%;
  width: 100%;
}

* {
  font-family: Courier, Arial;
}

div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-vibing-cow {
  z-index: 10;
}