html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

header {
  text-align: center;
  margin-bottom: 50px;
}

main {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 20px 7px black;
}

main > div {
	width:266px;
	margin:0 auto;
}

main * {
    padding: 10px;
}

main button, main input {
    height: 50px;
    width: 50px;
    margin: 6px;
}

#txt-display {
    width: 225px;
    text-align: right;
    font-size: 2em;
}

.result {
    width: 250px;
}
