<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Film da vedere - MVC + AJAX</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/2025_26/EsPHP/es-mvc-ajax-film_v1/js/libreria.js"></script>
    <script src="/2025_26/EsPHP/es-mvc-ajax-film_v1/js/index.js"></script>
    <script src="js/libreria.js"></script>
    <script src="js/index.js"></script>

</head>
<body>

<h1>Film da vedere</h1>

<form id="formAggiungi">
    <input type="text" id="inputTitolo" placeholder="Es: Interstellar" required>
    <button type="submit" class="btn-aggiungi">Aggiungi</button>
</form>

<input type="text" id="inputRicerca" placeholder="Cerca film...">

<ul id="listaFilm"></ul>

</body>
</html>

