/* ************************************** */
body{
	margin: 0px;
	background-color: black;
}

#background{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(./img/BackGround.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

#contorno-logo{
	display: flex;
	flex-direction: row;
	width: 12%;
	height: 10%;
}

#logo{
	background-image: url(./img/Logo.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	/*width: 180px;*/
	/*height: 70px;*/
	
}

#tavolo{
	position: absolute;
	bottom: 20%;
	background-image: url("./img/Tavolo.png");
	background-position: center center;
	width: 1600px;
	/*width: 95%;*/
	height: 630px;
	/*height: 79%;*/
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

#wrapper{
	/*width: 1000px;*/
	width: 63%;
	user-select:none;
	margin-right: 30px;
}

#banco, #giocatore{
	padding-bottom: 5px;
}

#wrapper > #giocatore > p{
	font-size: 15pt;
	font-weight: bold;
	margin: 0px 7px;
	margin-bottom: 15px;
	color: white;
}

#wrapper > div > div{
	display: inline-block;
	margin-left: 5px;
	width:71px;
}

#mazzo-g{
	display: inline-block;
	width:71px;
	height:96px;
}

#mazzo-b{
	display: inline-block;
	width:71px;
	height:96px;
}

.card{
	display: inline-block;
	margin-left: 5px;
	width:71px;
	height:96px;
}

#wrapper > #banco > p{
	font-size: 15pt;
	font-weight: bold;
	margin: 15px 7px;
	color: white;
}


#value-card-g, #value-card-b{
	height: 24px;
	display: flex;
	align-items: center;
}

#value-card-g > div, #value-card-b > div{
	width: 71px;
}

#fish-puntate{
	/*width: 150px;*/
	width: 10%;
	/*height: 350px;*/
	height: 56%;
	display: flex;
}

#fish-puntate > div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#fish-puntate > div > div{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 60px;
	height: 60px;
	margin: 5px;
}

#bottom-nav{
	width: 98%;
	height: 8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position:absolute;
	bottom: 15;
}

#bottom-nav > div, #bottom-nav > p, #bottom-nav > h3{
	border: 1px solid rgba(218,179,134,255);
	border-radius: 30px;
	background-color: black;
	text-shadow: 
	0 0 7px rgba(218,179,134,255),
	0 0 10px rgba(218,179,134,255),
    0 0 21px rgba(218,179,134,255),
    0 0 42px rgba(179,157,118,255),
    0 0 82px rgba(179,157,118,255),
    0 0 92px rgba(179,157,118,255),
    0 0 102px rgba(179,157,118,255),
    0 0 151px rgba(179,157,118,255);
	box-shadow: 
	0 0 7px rgba(218,179,134,255),
	0 0 2px rgba(218,179,134,255),
    0 0 5px rgba(218,179,134,255),
    0 0 7px rgba(179,157,118,255),
    0 0 8px rgba(179,157,118,255),
    0 0 10px rgba(179,157,118,255),
    0 0 15px rgba(179,157,118,255);
}

#bottom-nav > p, #bottom-nav > h3, #bottom-nav > #reset{
	padding: 25px 15px;
	color: white;
	font-size: 12pt;
}

#reset{
	width: 5%;
	text-align: center;
}

#bottom-nav > p{
	width: 20%;
}

#bottom-nav > h3{
	width: 15%;
}

#puntata{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 50%;
	padding: 3px;
}

#puntata > div{
	width: 60px;
	height: 60px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}

#fish-1{
	background-image: url(./img/fish-1.png);
}

#fish-5{
	background-image: url(./img/fish-5.png);
}

#fish-10{
	background-image: url(./img/fish-10.png);
}

#fish-25{
	background-image: url(./img/fish-25.png);
}

#fish-50{
	background-image: url(./img/fish-50.png);
}

#fish-100{
	background-image: url(./img/fish-100.png);
}

#fish-500{
	background-image: url(./img/fish-500.png);
}

#fish-1000{
	background-image: url(./img/fish-1000.png);
}

#fish-5000{
	background-image: url(./img/fish-5000.png);
}

#fish-10000{
	background-image: url(./img/fish-10000.png);
}

#fish-25000{
	background-image: url(./img/fish-25000.png);
}

#fish-100000{
	background-image: url(./img/fish-100000.png);
}